@using EZcore.Models

@model ProductModel

@* Generated from EZcore Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    // ViewData:
    var lang = (Lang)(ViewData["Lang"] ?? 0);
    var modelName = ViewData["ViewModelName"];
    var containerDivClass = "container-fluid"; // "container" can be used for not full width
    var details = lang == Lang.EN ? "Details" : "Detayı";
    var edit = lang == Lang.EN ? "Edit" : "Düzenle";
    var delete = lang == Lang.EN ? "Delete" : "Sil";
    var backToList = lang == Lang.EN ? "Back to List" : "Listeye Dön";
}
@{
    ViewData["Title"] = $"{modelName} {details}";
}

@if (Model is not null)
{
<div class="@containerDivClass">
    <partial name="_EZmessage" />
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.StockAmount)
        </div>
        <div class="col-10">
            @Html.Raw(Model.StockAmount)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.Category)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Category)
        </div>
    </div>

@* Can be uncommented and used for many to many relationships. * must be replaced with the related entiy name in the controller and views. *@
    
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            <b>@Html.DisplayNameFor(model => model.Stores)</b>
        </div>
        <div class="col-10">
            @Html.Raw(Model.Stores)
        </div>
    </div>
   

    <hr /> 
    <a asp-action="Edit" asp-route-id="@Model.Record.Id">@edit</a>&nbsp;|&nbsp;
    <a asp-action="Delete" asp-route-id="@Model.Record.Id">@delete</a>&nbsp;|&nbsp;
    <a asp-action="Index" asp-route-pageordersession="true">@backToList</a>
</div>
}
