@using EZcore.Extensions

@model ProductModel

@* Generated from EZcore Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    // ViewData:
    var lang = (Lang)(ViewData[nameof(Lang)] ?? 0);
    var modelName = ViewData["ViewModelName"];
    var containerDivClass = "container-fluid"; // "container" can be used for not full width
    var dateTimePickerClass = "datepicker"; // "datetimepicker" can be used for date with time
    var edit = lang == Lang.EN ? "Edit" : "Düzenle";
    var delete = lang == Lang.EN ? "Delete" : "Sil";
    var select = lang == Lang.EN ? "-- Select --" : "-- Seçiniz --";
    var save = lang == Lang.EN ? "Save" : "Kaydet";
    var clear = lang == Lang.EN ? "Clear" : "Temizle";
    var backToList = lang == Lang.EN ? "Back to List" : "Listeye Dön";
    var mainFileMessage = lang == Lang.EN ? "Main file must be selected!" : "Ana dosya seçilmelidir!";
}
@{
    ViewData["Title"] = $"{modelName} {edit}";
}
@if (Model is not null)
{
<div class="@containerDivClass">
    <partial name="_EZMessage" />
    <form asp-action="Edit" autocomplete="off" enctype="multipart/form-data">
	    @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-3">
            <displayname asp-for="Name" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
	            <input asp-for="Record.Name" class="form-control" />
		        <validation asp-for="Record.Name" asp-lang="@lang" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="UnitPrice" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
	            <input asp-for="Record.UnitPrice" class="form-control" />
		        <validation asp-for="Record.UnitPrice" asp-lang="@lang" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="StockAmount" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
	            <input asp-for="Record.StockAmount" class="form-control" />
		        <validation asp-for="Record.StockAmount" asp-lang="@lang" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="ExpirationDate" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
		        <input asp-for="Record.ExpirationDate" class="form-control @dateTimePickerClass" type="text" />
		        <validation asp-for="Record.ExpirationDate" asp-lang="@lang" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="Category" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
            <div class="col-10">
	            <select asp-for="Record.CategoryId" class="form-select select2" asp-items="ViewBag.CategoryId">
		            <option value="">@select</option>
	            </select>
	            <validation asp-for="Record.CategoryId" asp-lang="@lang" class="text-danger"></validation>
            </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="MainFormFile" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
            <div class="col-10">
                <input asp-for="MainFormFile" class="form-control mainfile" type="file" />
                <input asp-for="Record.MainFilePath" type="hidden" class="mainfilehidden" />
                <span class="text-danger mainfilemessage"></span>
            </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="OtherFormFiles" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
            <div class="col-10">
                <input asp-for="OtherFormFiles" class="form-control otherfiles" type="file" multiple />
            </div>
        </div>
        <input type="hidden" asp-for="Record.Id" />

@* Can be uncommented and used for many to many relationships. Entity must be replaced with the related name in the controller and views. *@
        
        <div class="row mb-3">
            <displayname asp-for="Stores" asp-lang="@lang" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
		        <select multiple asp-for="Record.Stores" class="form-select select2" asp-items="ViewBag.Stores"></select>
                <validation asp-for="Record.Stores" asp-lang="@lang" class="text-danger"></validation>
	        </div>
        </div>
       

        <hr />
        <div class="row mb-3">
	        <div class="offset-2 col-10">
                <button type="submit" class="btn btn-primary">@save</button>
		        &nbsp;&nbsp;
                <button type="reset" class="btn btn-outline-primary">@clear</button>
            @if (User.Identity.IsAuthenticated)
            {
		        @:&nbsp;&nbsp;
                <a asp-action="Delete" asp-route-id="@Model.Record.Id">@delete</a>
                @:&nbsp;|&nbsp;
            }
		        <a asp-action="Index" asp-route-session="true">@backToList</a>
	        </div>
        </div>
    </form>
</div>
}

@section Scripts {
    <partial name="_EZDateTimePicker" />
    <script>
        $(function () {
            $('button[type="submit"]').click(function (event) {
                if ($('.otherfiles').val() && !($('.mainfilehidden').val() || $('.mainfile').val())) {
                    event.preventDefault();
                    $('.mainfilemessage').text('@Html.Raw(mainFileMessage)');
                }
            });
        });
    </script>
    <partial name="_EZSelect2" />
}
