@using EZcore.Models

@model IEnumerable<ProductModel>

@* Generated from EZcore Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    // ViewData:
    var lang = (Lang)(ViewData["Lang"] ?? 0);
    var modelName = ViewData["ViewModelName"];
    var containerDivClass = "container-fluid"; // "container" can be used for not full width
    var list = lang == Lang.EN ? "List" : "Listesi";
    var details = lang == Lang.EN ? "Details" : "Detay";
    var create = lang == Lang.EN ? "Create" : "Yeni";
    var edit = lang == Lang.EN ? "Edit" : "Düzenle";
    var delete = lang == Lang.EN ? "Delete" : "Sil";
    var pageOrder = ViewData["PageOrder"] is null ? null : ViewData["PageOrder"] as PageOrder;
}
@{
    ViewData["Title"] = $"{modelName} {list}";
}

@if (Model is not null)
{
<form asp-action="Index" autocomplete="off" id="form">
    <div class="@containerDivClass">
        <div class="row">
            <div class="col-10">
                <partial name="_EZMessage" />
            </div>
            <div class="col-2 text-end">
                <a asp-action="Create">@create</a>
            </div>
        </div>
        @if (pageOrder is not null)
        {
        <partial name="_EZPageOrder" model="pageOrder" />  
        }
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-secondary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StockAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpirationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
		        @foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UnitPrice)
					</td>
					<td>
						@Html.Raw(item.StockAmount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ExpirationDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Category)
					</td>
					<td class="text-end w-25">
						<a asp-action="Details" asp-route-id="@item.Record.Id">@details</a>&nbsp;|&nbsp;
						<a asp-action="Edit" asp-route-id="@item.Record.Id">@edit</a>&nbsp;|&nbsp;
                        <a href="#" onclick="deleteRecord(@item.Record.Id);">@delete</a>
					</td>
				</tr>
		        }
            </tbody>
        </table>
    </div>
</form>
}

@section Scripts {
    <partial name="_EZAlertify" />
    @if (pageOrder is not null)
    {
    <partial name="_EZPageOrderScripts" />
    }
}
