@using EZcore.Extensions

@model IEnumerable<ProductModel>

@* Generated from EZcore Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    // ViewData:
    var lang = (Lang)(ViewData[nameof(Lang)] ?? 0);
    var modelName = ViewData["ViewModelName"];
    var pageOrder = ViewData[nameof(PageOrder)] is null ? null : ViewData[nameof(PageOrder)] as PageOrder;
    var containerDivClass = "container-fluid"; // "container" can be used for not full width
    var list = lang == Lang.EN ? "List" : "Listesi";
    var details = lang == Lang.EN ? "Details" : "Detay";
    var create = lang == Lang.EN ? "Create" : "Yeni";
    var edit = lang == Lang.EN ? "Edit" : "Düzenle";
    var delete = lang == Lang.EN ? "Delete" : "Sil";
    var export = lang == Lang.EN ? "Export to Excel" : "Excel'e Aktar";
}
@{
    ViewData["Title"] = $"{modelName} {list}";
}

@if (Model is not null)
{
<form asp-action="Index" autocomplete="off" id="form">
    <div class="@containerDivClass">
        <div class="row">
            <div class="col-10">
                <partial name="_EZMessage" />
            </div>
            <div class="col-2 text-end">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Export">@export</a>
                @:&nbsp;|&nbsp;
                <a asp-action="Create">@create</a>
            }
            </div>
        </div>
        @if (Model.Any())
        {
        @if (pageOrder is not null)
        {
        <partial name="_EZPageOrder" model="pageOrder" />  
        }
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-secondary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Name, lang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().UnitPrice, lang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().StockAmount, lang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ExpirationDate, lang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Category, lang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MainFormFilePath, lang)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
		        @foreach (var item in Model) {
				<tr>
					<td>
						@Html.Raw(item.Name)
					</td>
					<td>
						@Html.Raw(item.UnitPrice)
					</td>
					<td>
						@Html.Raw(item.StockAmount)
					</td>
					<td>
						@Html.Raw(item.ExpirationDate)
					</td>
					<td>
						@Html.Raw(item.Category)
					</td>
                    <td style="width:10%;">
                        @if (string.IsNullOrWhiteSpace(item.Record.MainFilePath))
                        {
                            <span><i class="bx bx-image" style="font-size:x-large;"></i></span>
                        }
                        else
                        {
                            <img src="@item.Record.MainFilePath" class="img-thumbnail" />
                        }
                    </td>   
					<td class="text-end w-25">
                    @if (User.Identity.IsAuthenticated)
                    {
						<a asp-action="Details" asp-route-id="@item.Record.Id">@details</a>@:&nbsp;|&nbsp;
						<a asp-action="Edit" asp-route-id="@item.Record.Id">@edit</a>@:&nbsp;|&nbsp;
                        <a href="#" onclick="deleteRecord(@item.Record.Id);">@delete</a>
                    }
					</td>
				</tr>
		        }
            </tbody>
        </table>
        }
    </div>
</form>
}

@section Scripts {
    <partial name="_EZAlertify" />
    @if (pageOrder is not null)
    {
    <partial name="_EZPageOrderScripts" />
    }
}
